<%- include('../layouts/header') -%>
  <div class="content-wrapper">   
  <div class="container">
  <div class="row">
  	<div class="col-12">
	    <div class="card mt-4 ml-2">
    		<div class="card-body">
    		  <form method="POST" action="/user/guest-books/add">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <textarea class="form-control" name="description"></textarea>
            <br>
            <button class="btn btn-primary">Kirim</button>
          </form>
    		</div>
    	</div>
	  </div>
    </div>
   </div>
  </div>
<%- include('../layouts/footer') -%>